In [64]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 35)
pd.set_option('display.width', 200)
pd.options.display.float_format = '{:,.2f}'.format

ğŸ±â€ğŸ’» ì´ë²ˆ ì±•í„°ëŠ”`ë„˜íŒŒì´ ë°°ì—´`ê³¼ `íŒë‹¤ìŠ¤ ë°°ì—´`ì„ ì‚¬ìš©í•´ ê°™ì€ ì‘ì—…ì„ ì²˜ë¦¬í•˜ëŠ” ë°©ë²•ì„ í•™ìŠµí–ˆìŒ  
> 'ì–´ë–¤ ë„êµ¬ê°€ ì¤‘ìš”í•œì§€'ëŠ” ê°œì¸ì  ì·¨í–¥ë³´ë‹¤ëŠ” **ë°ì´í„°ì˜ ì„±ê²©**ì— ë”°ë¼ ê²°ì •ëœë‹¤

ğŸ±â€ğŸ’» ì´ë²ˆ ì±•í„°ì—ì„œ ë‹¤ë£¨ëŠ” Data
* **ì½”ë¡œë‚˜19 ì¼ì¼ ë°ì´í„°** - êµ­ê°€ë³„ í•˜ë£¨ì— í•˜ë‚˜ì˜ í–‰ (ì‹ ê·œ í™•ì§„ì, ì‹ ê·œ ì‚¬ë§ì) : 2019-12-31 ~ 2020-07-18
* **ë¸Œë¼ì§ˆ ì§€í‘œì˜¨ë„ ë°ì´í„°** - ë¸Œë¼ì§ˆì˜ 87ê°œ ê¸°ìƒê´€ì¸¡ì†Œì—ì„œ ë§¤ì›” í•˜ë‚˜ì˜ ì˜¨ë„ íŒë…ê°’ : 2019-01-01 ~ 2019-12-31

# itertuplesì„ í™œìš©í•œ ë°ì´í„° ìˆœíšŒ
* ì´ ë°©ì‹ëŒ€ë¡œ ì§ì ‘ êµ¬í˜„í•˜ëŠ” ì¼ì´ ê±°ì˜ ì—†ë”ë¼ë„, ë°ì´í„°ì˜ í–‰ì„ ìˆœíšŒí•˜ê³  ê·¸ë£¹ë³„ë¡œ ì •ë ¬í•˜ëŠ” ê°œë…ì„ ì•Œì•„ë‘ë©´ ë„ì›€ì´ ë  ê²ƒì„
> ì°¸ê³ ) 10,000í–‰ ì´í•˜ì˜ dataframeì€ pandas ë©”ì„œë“œë¡œ ì²˜ë¦¬í•˜ëŠ” ê²ƒì´ ìˆœíšŒ(looping)ë³´ë‹¤ ë” íš¨ìœ¨ì ì„

## ì½”ë¡œë‚˜19 ë°ì´í„°

### 1. ë°ì´í„° ë¡œë“œ

In [30]:
covidDaily = pd.read_csv('data/coviddaily720.csv', parse_dates=['casedate'])

In [31]:
covidDaily.sample(2)

     iso_code   casedate location continent  new_cases  new_deaths   population  pop_density  median_age  gdp_per_capita  hosp_beds          region
188       ALB 2020-03-12  Albania    Europe       1.00        1.00 2,877,800.00       104.87       38.00       11,803.43       2.89  Eastern Europe
8613      ERI 2020-06-23  Eritrea    Africa       0.00        0.00 3,546,427.00        44.30       19.30        1,510.46       0.70     East Africa

### 2. ì—´ì„ ê°€ë…ì„±ì´ ì¢‹ê²Œ ì •ë ¬

In [16]:
covidDaily = covidDaily[['casedate', 'iso_code', 'location', 'region', 'continent', 'new_cases', 'new_deaths',\
                         'hosp_beds', 'population', 'pop_density', 'median_age', 'gdp_per_capita']]

### 3. ìœ„ì¹˜, ë‚ ì§œë³„ ì •ë ¬

In [72]:
covidDaily = covidDaily.sort_values(['location', 'casedate'])
covidDaily.head(3)

  iso_code   casedate     location continent  new_cases  new_deaths    population  pop_density  median_age  gdp_per_capita  hosp_beds      region
0      AFG 2019-12-31  Afghanistan      Asia       0.00        0.00 38,928,341.00        54.42       18.60        1,803.99       0.50  South Asia
1      AFG 2020-01-01  Afghanistan      Asia       0.00        0.00 38,928,341.00        54.42       18.60        1,803.99       0.50  South Asia
2      AFG 2020-01-02  Afghanistan      Asia       0.00        0.00 38,928,341.00        54.42       18.60        1,803.99       0.50  South Asia

### 4. itertuplesë¥¼ ì‚¬ìš©í•˜ì—¬ í–‰ë“¤ì„ ìˆœíšŒ  
* itertupleë¥¼ ì‚¬ìš©í•˜ì—¬ ì „ì²´ í–‰ê³¼ ì´ë¦„ì—†ëŠ” íŠœí”Œë“¤ì„ ìˆœíšŒ  
* ê°êµ­ì˜ ì „ì²´ ë‚ ì§œ ëŒ€í•´ ì‹ ê·œ í™•ì§„ì ìˆ˜ë¥¼ í•©ì‚°í•œë‹¤  
      
      e.g. 2019-12-31 ~ 2020-07-18 í•œêµ­ì˜ ì¼ì¼ ì‹ ê·œ í™•ì§„ì ìˆ˜ í•©ê³„

4-1. ğŸ” **í•˜ë‹¨ ì½”ë“œ ì‘ë™ì›ë¦¬**
* êµ­ê°€(location)ê°€ ë°”ë€” ë•Œë§ˆë‹¤ rowlistì— ì†Œê³„ë¥¼ 'ë”•ì…”ë„ˆë¦¬' í˜•íƒœë¡œ ì¶”ê°€í•œ ë’¤ì—, ì¹´ìš´íŠ¸(casecnt)ë¥¼ 0ìœ¼ë¡œ ë¦¬ì…‹í•œë‹¤  
* ì˜ˆì‹œ
        ì²«ë²ˆì§¸ ìˆœíšŒ ì‹œ casecnt = 0, prevloc = 'ZZZ', row.loction = 'Afghanistan', row.new_cases = 34451.0  
        ë‘ë²ˆì§¸ ìˆœíšŒ ì‹œ casecnt = 34451.0, prevloc = 'Afghanistan', row.location = 'Albania', row.new_cases = 3371.0

In [73]:
prevloc = 'ZZZ'
rowlist = []

for row in covidDaily.itertuples():
    # ì¡°ê±´ : í˜„ì¬ ìˆœíšŒ í–‰(row)ì˜ ì§€ì—­(location)ì´ ì´ì „ ìˆœíšŒ í–‰(row)ê³¼ ë‹¬ë¼ì§€ëŠ” ìˆœê°„ì—
    if (prevloc!=row.location): 
        # ì¡°ê±´ : ì´ˆê¸°ê°’('ZZZ')ì€ ì˜ˆì™¸ë¡œ ë‘ì–´ ê±´ë„ˆë›°ë„ë¡ ì²˜ë¦¬í•¨
        if (prevloc!='ZZZ'): 
            # rowlist < 'ì´ì „ ì§€ì—­'ê³¼ 'ì´ì „ ì§€ì—­ì˜ ì‹ ê·œ í™•ì§„ì ìˆ˜ ëˆ„ê³„'ë¥¼ ë”•ì…”ë„ˆë¦¬ë¡œ ì¶”ê°€í•´ë‘ 
            rowlist.append({'location':prevloc, 'casecnt':casecnt}) 
        # ë‹¤ìŒ ì§€ì—­ì— ëŒ€í•œ ì‘ì—…ì„ í•˜ê¸° ìœ„í•´ì„œ ì¼€ì´ìŠ¤ ë¹ˆë„ë¥¼ '0'ìœ¼ë¡œ ë¦¬ì…‹
        casecnt = 0 
        # ë‹¤ìŒ ì§€ì—­ì— ëŒ€í•œ ì‘ì—…ì„ í•˜ê¸° ìœ„í•´ì„œ, ì§€ì—­ì„ 'í˜„ì¬ ìˆœíšŒ í–‰(row)ì˜ ì§€ì—­'ìœ¼ë¡œ ì…‹íŒ…
        prevloc = row.location 
    # 'í˜„ì¬ ìˆœíšŒ í–‰(row)ì˜ ì‹ ê·œ í™•ì§„ì ìˆ˜'ë¥¼ ëˆ„ì í•© í•´ì¤€ë‹¤ 
    casecnt += row.new_cases 
    
# forë¬¸ ê°€ì¥ ë§ˆì§€ë§‰ ìˆ˜í–‰ëœ ê°’ì€ ì €ì¥ë˜ì§€ ì•Šê¸° ë•Œë¬¸ì— > ë°˜ë³µë¬¸ ë¹ ì ¸ë‚˜ì˜¨ ë’¤ ì €ì¥ë˜ê²Œ í•´ì¤Œ    
rowlist.append({'location':prevloc, 'casecnt':casecnt})
len(rowlist)

209

In [55]:
rowlist[0:4]

[{'location': 'Afghanistan', 'casecnt': 34451.0},
 {'location': 'Albania', 'casecnt': 3371.0},
 {'location': 'Algeria', 'casecnt': 18712.0},
 {'location': 'Andorra', 'casecnt': 855.0}]

4-2. ğŸ“  'ë”•ì…”ë„ˆë¦¬'ë¡œ ì´ë£¨ì–´ì§„ ë¦¬ìŠ¤íŠ¸ > ë°ì´í„°ë¥¼ ì„ì‹œë¡œ ì €ì¥í–ˆë‹¤ê°€ ë‚˜ì¤‘ì— ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•˜ê¸°ì— ì¢‹ë‹¤

4-3. ğŸ’¡ `itertuple`ì´ë€?  
- map í´ë˜ìŠ¤ì˜ ë©”ì†Œë“œì´ë‹¤
- ë°ì´í„°í”„ë ˆì„ ê°ì²´ì˜ í–‰ì„ íŠœí”Œ* í˜•ì‹ìœ¼ë¡œ ì½ì–´ë“¤ì´ë©´ì„œ ìˆœíšŒí•œë‹¤
    * ë¦¬ìŠ¤íŠ¸ì™€ ìœ ì‚¬í•˜ê²Œ ì—¬ëŸ¬ ê°ì²´ë¥¼ ë‹´ê³  ìˆì§€ë§Œ, íŠœí”Œ ë‚´ì˜ ê°’ì€ ìˆ˜ì •, ì¶”ê°€, ì‚­ì œê°€ ì•ˆëœë‹¤ëŠ” ì ì´ ì°¨ì´ì ì´ë‹¤. ( )ë¡œ ì‚¬ìš©. ë®ì–´ì”Œìš°ê¸°ëŠ” ê°€ëŠ¥í•˜ë‹¤. 
- ì‹¤ì œ ì¶œë ¥ê°’ì€ ì•„ë˜ ì½”ë“œê²°ê³¼ ì°¸ê³

In [41]:
number = 0 
for row in covidDaily.itertuples():
    number += 1
    if number > 2:
        continue
    print(number,". ", row)

1 .  Pandas(Index=0, iso_code='AFG', casedate=Timestamp('2019-12-31 00:00:00'), location='Afghanistan', continent='Asia', new_cases=0.0, new_deaths=0.0, population=38928341.0, pop_density=54.422, median_age=18.6, gdp_per_capita=1803.987, hosp_beds=0.5, region='South Asia')
2 .  Pandas(Index=1, iso_code='AFG', casedate=Timestamp('2020-01-01 00:00:00'), location='Afghanistan', continent='Asia', new_cases=0.0, new_deaths=0.0, population=38928341.0, pop_density=54.422, median_age=18.6, gdp_per_capita=1803.987, hosp_beds=0.5, region='South Asia')

### 5. rowlist(ì†Œê³„ë¥¼ ë‹´ê³  ìˆëŠ” ë¦¬ìŠ¤íŠ¸) > dataframe

In [51]:
covidtotals = pd.DataFrame(rowlist)
covidtotals.head()

      location   casecnt
0  Afghanistan 34,451.00
1      Albania  3,371.00
2      Algeria 18,712.00
3      Andorra    855.00
4       Angola    483.00

## ë¸Œë¼ì§ˆ ì§€í‘œì˜¨ë„ ë°ì´í„°

### 1. ë°ì´í„° ë¡œë“œ

In [89]:
ltBrazil = pd.read_csv('data/ltbrazil.csv')

### 2. ë°ì´í„° ì •ë ¬ & ì˜¨ë„ ëˆ„ë½ê°’ í–‰ ì œê±°
* ê¸°ìƒê´€ì¸¡ì†Œ(station)ë§ˆë‹¤ ì›”ë³„(month)ë¡œ ì •ë ¬ë˜ë„ë¡ í•œë‹¤

In [90]:
ltBrazil = ltBrazil.sort_values(['station','month'])
ltBrazil = ltBrazil.dropna(subset=['temperature'])

### 3. itertuplesë¥¼ ì‚¬ìš©í•˜ì—¬ í–‰ë“¤ì„ íŠœí”Œë¡œ ìˆœíšŒ
* ğŸ” **í•˜ë‹¨ ì½”ë“œ ì‘ë™ì›ë¦¬** : í‰ê·  ê¸°ì˜¨ì„ ê³„ì‚°í•˜ê³ ì í•˜ëŠ”ë°, ê·¸ í•´ì˜ ê¸°ì˜¨ì´ ì´ì „ ë‹¬ ê¸°ì˜¨ë³´ë‹¤ 3ë„ ë„˜ê²Œ ë†’ì€/ë‚®ì€ ê°’ì€ ì œì™¸í•œë‹¤.

In [91]:
prevstation = 'ZZZ'
prevtemp = 0
rowlist = []

for row in ltBrazil.itertuples():
# ì „ì²´ ê¸°ê°„ ë™ì•ˆì˜ íŠ¹ì • ê´€ì¸¡ì†Œ ìµœì¢… ë¹ˆë„(stationcnt), í‰ê·  ê¸°ì˜¨(avgtemp)ì„ rowlistì— ì €ì¥
    #  ì¡°ê±´ : í˜„ì¬ ìˆœíšŒ í–‰(row)ì˜ ê´€ì¸¡ì†Œê°€, ì§ì „ ìˆœíšŒ í–‰(row)ì˜ ê´€ì¸¡ì†Œì™€ ë‹¬ë¼ì§„ ìˆœê°„ì— ì €ì¥í•¨
    if (prevstation!=row.station):
        if (prevstation!='ZZZ'): # ì´ˆê¸°ê°’('ZZZ')ì¼ ë•ŒëŠ” ìˆ˜í–‰ë˜ì§€ ì•Šë„ë¡ í•¨
            rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})
        tempcnt = 0
        stationcnt = 0
        prevstation = row.station
# ê·¸ í•´ê¹Œì§€ íŠ¹ì • ê´€ì¸¡ì†Œë¥¼ ì„¼ íšŸìˆ˜ì™€ ë”í•´ì§„ ê¸°ì˜¨ê°’ì„ stationcnt, tempcntì— ì €ì¥  
    # [ì¡°ê±´1 : ì´ì „ ì˜¨ë„ì™€ì˜ ì°¨ì´ê°€ 3ë„ ì´ë‚´ì¸ í–‰ë§Œ ì„ íƒ] + [ì¡°ê±´2 : ê´€ì¸¡ì†Œ ìµœì´ˆ ìˆœíšŒë•ŒëŠ” ë¬´ì¡°ê±´ ìˆ˜í–‰ë˜ë„ë¡] 
    if ((0<=abs(row.temperature-prevtemp)<=3) or (stationcnt==0)):
        tempcnt += row.temperature
        stationcnt += 1
    prevtemp = row.temperature

# forë¬¸ ë§¨ ë§ˆì§€ë§‰ ìˆ˜í–‰ëœ ê°’ë„ ì €ì¥ > ì™„ë£Œ
rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})
rowlist[0:5]

[{'station': 'ALTAMIRA', 'avgtemp': 28.310000000000002, 'stationcnt': 5},
 {'station': 'ALTA_FLORESTA_AERO',
  'avgtemp': 29.433636363636367,
  'stationcnt': 11},
 {'station': 'ARAXA', 'avgtemp': 21.612499999999997, 'stationcnt': 4},
 {'station': 'BACABAL', 'avgtemp': 29.75, 'stationcnt': 4},
 {'station': 'BAGE', 'avgtemp': 20.366666666666664, 'stationcnt': 9}]

3-1. ì¤‘ê°„ê³¼ì •

In [92]:
ltBrazil.head(2)

      locationid  year  month  temperature  latitude  longitude  elevation   station countryid country  latabs
648  BR000352000  2019      8        28.55     -3.20     -52.20     112.00  ALTAMIRA        BR  Brazil    3.20
740  BR000352000  2019      9        28.85     -3.20     -52.20     112.00  ALTAMIRA        BR  Brazil    3.20

In [93]:
num = 0

for row in ltBrazil.itertuples():
    num += 1
    if num>2:
        continue
    print(num,". ",row)

1 .  Pandas(Index=648, locationid='BR000352000', year=2019, month=8, temperature=28.55, latitude=-3.2, longitude=-52.2, elevation=112.0, station='ALTAMIRA', countryid='BR', country='Brazil', latabs=3.2)
2 .  Pandas(Index=740, locationid='BR000352000', year=2019, month=9, temperature=28.85, latitude=-3.2, longitude=-52.2, elevation=112.0, station='ALTAMIRA', countryid='BR', country='Brazil', latabs=3.2)

### 4. rowlist(í‰ê·  ê¸°ì˜¨ì„ ë‹´ê³  ìˆëŠ” ë¦¬ìŠ¤íŠ¸) > dataframe

In [94]:
ltBrazilAvgs = pd.DataFrame(rowlist)
ltBrazilAvgs.head()

              station  avgtemp  stationcnt
0            ALTAMIRA    28.31           5
1  ALTA_FLORESTA_AERO    29.43          11
2               ARAXA    21.61           4
3             BACABAL    29.75           4
4                BAGE    20.37           9

### 5. itertuplesë¥¼ ì‚¬ìš©í•˜ì—¬ í–‰ë“¤ì„ íŠœí”Œë¡œ ìˆœíšŒ  
* ğŸ” í•˜ë‹¨ ì½”ë“œ ì‘ë™ì›ë¦¬ : í‰ê·  ê¸°ì˜¨ì„ ê³„ì‚° (+*`ì›”ë³„ ê¸°ì˜¨ ë³€í™”`*ì˜ í­ì´ ì–´ë–»ë“ ì§€ì— ìƒê´€ì—†ì´)

In [95]:
prevstation = 'ZZZ'
rowlist_s = []

for row in ltBrazil.itertuples():
# ì „ì²´ ê¸°ê°„ ë™ì•ˆì˜ íŠ¹ì • ê´€ì¸¡ì†Œ ìµœì¢… ë¹ˆë„(stationcnt), í‰ê·  ê¸°ì˜¨(avgtemp)ì„ rowlistì— ì €ì¥
    #  ì¡°ê±´ : í˜„ì¬ ìˆœíšŒ í–‰(row)ì˜ ê´€ì¸¡ì†Œê°€, ì§ì „ ìˆœíšŒ í–‰(row)ì˜ ê´€ì¸¡ì†Œì™€ ë‹¬ë¼ì§„ ìˆœê°„ì— ì €ì¥í•¨
    if (prevstation!=row.station):
        if (prevstation!='ZZZ'): # ì´ˆê¸°ê°’('ZZZ')ì¼ ë•ŒëŠ” ìˆ˜í–‰ë˜ì§€ ì•Šë„ë¡ í•¨
            rowlist_s.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})
        tempcnt = 0
        stationcnt = 0
        prevstation = row.station
    tempcnt += row.temperature
    stationcnt += 1

# forë¬¸ ë§¨ ë§ˆì§€ë§‰ ìˆ˜í–‰ëœ ê°’ë„ ì €ì¥ > ì™„ë£Œ
rowlist_s.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})
rowlist_s[0:5]

[{'station': 'ALTAMIRA', 'avgtemp': 28.310000000000002, 'stationcnt': 5},
 {'station': 'ALTA_FLORESTA_AERO',
  'avgtemp': 29.37416666666667,
  'stationcnt': 12},
 {'station': 'ARAXA', 'avgtemp': 21.612499999999997, 'stationcnt': 4},
 {'station': 'BACABAL', 'avgtemp': 29.75, 'stationcnt': 4},
 {'station': 'BAGE', 'avgtemp': 19.29583333333333, 'stationcnt': 12}]

### 6. rowlist_s(ëª¨ë“  ê¸°ë¡ì˜ í‰ê·  ê¸°ì˜¨ì„ ë‹´ê³  ìˆëŠ” ë¦¬ìŠ¤íŠ¸) > dataframe

In [96]:
ltBrazilAvgsShallow = pd.DataFrame(rowlist_s)
ltBrazilAvgsShallow.head()

              station  avgtemp  stationcnt
0            ALTAMIRA    28.31           5
1  ALTA_FLORESTA_AERO    29.37          12
2               ARAXA    21.61           4
3             BACABAL    29.75           4
4                BAGE    19.30          12

### 7. ì˜ ì‘ë™ë˜ì—ˆëŠ”ì§€ ë¹„êµ í™•ì¸ (3ë²ˆ ê²°ê³¼ - 4ë²ˆ ê²°ê³¼)

In [97]:
ltBrazilAvgs[ltBrazilAvgs.station=='BAGE']

  station  avgtemp  stationcnt
4    BAGE    20.37           9

In [98]:
ltBrazilAvgsShallow[ltBrazilAvgsShallow.station=='BAGE']

  station  avgtemp  stationcnt
4    BAGE    19.30          12

* BAGE ê´€ì¸¡ì†Œì— 3ë„ ë„˜ê²Œ ê¸°ì˜¨ë³€í™”ê°€ ìˆëŠ” ë°ì´í„°ëŠ” ì´ 3ê°œê°€ ìˆìŒ (index = 485, 642, 918)

In [99]:
ltBrazil[ltBrazil.station=='BAGE']

       locationid  year  month  temperature  latitude  longitude  elevation station countryid country  latabs
90    BRM00083980  2019      1        25.10    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
182   BRM00083980  2019      2        23.90    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
274   BRM00083980  2019      3        21.80    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
366   BRM00083980  2019      4        20.15    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
458   BRM00083980  2019      5        16.90    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
550   BRM00083980  2019      6        17.45    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
642   BRM00083980  2019      7        12.40    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
734   BRM00083980  2019      8        13.50    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
826   BRM00083980  2019      9        15.75    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
918   BRM00083980  2019     10        18.95    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
1010  BRM00083980  2019     11        21.90    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33
1102  BRM00083980  2019     12        23.75    -31.33     -54.10     242.00    BAGE        BR  Brazil   31.33

# numpy arrayë¡œ ê·¸ë£¹ë³„ í•©ê³„ ê³„ì‚°
* ì•ì—ì„œ itertupleë¡œ í–ˆë˜ ì‘ì—…ì„ ë„˜íŒŒì´ ë°°ì—´ì„ ì‚¬ìš©í•˜ì—¬ ìˆ˜í–‰í•  ìˆ˜ë„ ìˆë‹¤.

## ì½”ë¡œë‚˜19 ë°ì´í„°

### ë°ì´í„° ë¡œë“œ

In [137]:
covidDaily = pd.read_csv("data/coviddaily720.csv", parse_dates=["casedate"])

In [138]:
covidDaily.head(3)

  iso_code   casedate     location continent  new_cases  new_deaths    population  pop_density  median_age  gdp_per_capita  hosp_beds      region
0      AFG 2019-12-31  Afghanistan      Asia       0.00        0.00 38,928,341.00        54.42       18.60        1,803.99       0.50  South Asia
1      AFG 2020-01-01  Afghanistan      Asia       0.00        0.00 38,928,341.00        54.42       18.60        1,803.99       0.50  South Asia
2      AFG 2020-01-02  Afghanistan      Asia       0.00        0.00 38,928,341.00        54.42       18.60        1,803.99       0.50  South Asia

### 1. ìœ„ì¹˜ ë¦¬ìŠ¤íŠ¸ ìƒì„±í•˜ê¸°

In [139]:
loclist = covidDaily.location.unique().tolist()

### 2. ìœ„ì¹˜ë³„ í•©ê³„ë¥¼ ê³„ì‚°í•˜ê¸°

2-0. ìœ„ì¹˜ ë¦¬ìŠ¤íŠ¸ í™•ì¸

In [135]:
loclist[0:5]

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola']

2-1. ìœ„ì¹˜ë³„ ì¼ì¼ ì‹ ê·œ í™•ì§„ì ìˆ˜ë¥¼ ëª¨ë‘ cases ë¦¬ìŠ¤íŠ¸ì— ë‹´ê³  > sum(cases)ë¡œ í•œêº¼ë²ˆì— í•©ê³„ ì—°ì‚° â­

In [133]:
rowlist = []
casevalues = covidDaily[['location','new_cases']].to_numpy()

for locitem in loclist:
    # ìœ„ì¹˜ë³„(casevalues[j][0])ë¡œ ëª¨ë“  ì‹ ê·œ í™•ì§„ì ìˆ˜ ê°’(casevalues[j][1])ì„ ì„ íƒ
    cases = [casevalues[j][1] for j in range(len(casevalues)) if casevalues[j][0]==locitem]
    # casesì— ë‹´ê¸´ ëª¨ë“  ê°’ì„ ë”í•œ ë’¤ > rowlistì˜ ê°’ìœ¼ë¡œ ì¶”ê°€í•´ë‘ 
    rowlist.append(sum(cases))
    
len(rowlist), len(loclist)

(209, 209)

* 2-1ì˜ ì¤‘ê°„ ê³¼ì •

In [108]:
covidDaily[['location','new_cases']].to_numpy()

array([['Afghanistan', 0.0],
       ['Afghanistan', 0.0],
       ['Afghanistan', 0.0],
       ...,
       ['Zimbabwe', 41.0],
       ['Zimbabwe', 16.0],
       ['Zimbabwe', 40.0]], dtype=object)

In [128]:
casevalues[0][0], casevalues[184][0], casevalues[185][0]

('Afghanistan', 'Afghanistan', 'Albania')

In [114]:
len(covidDaily), len(casevalues)

(29213, 29213)

2-2. í•©ê³„ê°’ í™•ì¸

In [134]:
rowlist[0:5]

[34451.0, 3371.0, 18712.0, 855.0, 483.0]

### 3. lists > zip ë‚´ì¥í•¨ìˆ˜ë¡œ ë¬¶ê¸° > dataframe

In [112]:
casetotals = pd.DataFrame(zip(loclist,rowlist), columns=(['location','casetotals']))
casetotals.head()

      location  casetotals
0  Afghanistan      982.00

# groupbyë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹ë³„ ì¡°ì§í™”
* ì•ì˜ ë°©ë²•ì—ì„œ ë‹¤ë£¬ ë°©ë²•ìœ¼ë¡œë„ ìš”ì•½í†µê³„ë¥¼ ìƒì„±í•  ìˆ˜ ìˆìœ¼ë‚˜
* pandas dataframeì˜ **ğŸ“groupby ë©”ì„œë“œ**ë¥¼ í™œìš©í•˜ì—¬ ì§‘ê³„ ì‘ì—…í•˜ëŠ” ê²ƒì´ ì¼ë°˜ì ì´ê³  íš¨ìœ¨ë„ ë†’ë‹¤.

## ì½”ë¡œë‚˜19 ë°ì´í„°

In [136]:
covidDaily = pd.read_csv("data/coviddaily720.csv", parse_dates=["casedate"])

### 1. íŒë‹¤ìŠ¤ groupby `ë°ì´í„° í”„ë ˆì„`ì„ ìƒì„±í•˜ê¸°

In [140]:
countryTots = covidDaily.groupby(['location'])
type(countryTots)

pandas.core.groupby.generic.DataFrameGroupBy

In [144]:
countryTots

### 2. êµ­ê°€ë³„ë¡œ ì²« í–‰ê³¼ ë§ˆì§€ë§‰ í–‰ì˜ `ë°ì´í„° í”„ë ˆì„` ìƒì„±í•˜ê¸°

In [146]:
countryTots.first().iloc[0:5, 0:5]

            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2019-12-31      Asia       0.00        0.00
Albania          ALB 2020-03-09    Europe       2.00        0.00
Algeria          DZA 2019-12-31    Africa       0.00        0.00
Andorra          AND 2020-03-03    Europe       1.00        0.00
Angola           AGO 2020-03-22    Africa       2.00        0.00

In [147]:
countryTots.last().iloc[0:5, 0:5]

            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2020-07-12      Asia      85.00       16.00
Albania          ALB 2020-07-12    Europe      93.00        4.00
Algeria          DZA 2020-07-12    Africa     904.00       16.00
Andorra          AND 2020-07-12    Europe       0.00        0.00
Angola           AGO 2020-07-12    Africa      25.00        2.00

In [148]:
type(countryTots.last())

pandas.core.frame.DataFrame

### 3. êµ­ê°€ë³„ë¡œ ì „ì²´ í–‰ ì–»ê¸°

In [150]:
countryTots.get_group('Zimbabwe').iloc[0:5, 0:5]

      iso_code   casedate continent  new_cases  new_deaths
29099      ZWE 2020-03-21    Africa       1.00        0.00
29100      ZWE 2020-03-22    Africa       1.00        0.00
29101      ZWE 2020-03-23    Africa       0.00        0.00
29102      ZWE 2020-03-24    Africa       0.00        1.00
29103      ZWE 2020-03-25    Africa       0.00        0.00

### 4. ê·¸ë£¹ì— ëŒ€í•´ ìˆœíšŒ(looping)

In [152]:
for name, group in countryTots:
  if (name in ['Malta','Kuwait']):
    print(group.iloc[0:5, 0:5])

      iso_code   casedate location continent  new_cases
14707      KWT 2019-12-31   Kuwait      Asia       0.00
14708      KWT 2020-01-01   Kuwait      Asia       0.00
14709      KWT 2020-01-02   Kuwait      Asia       0.00
14710      KWT 2020-01-03   Kuwait      Asia       0.00
14711      KWT 2020-01-04   Kuwait      Asia       0.00
      iso_code   casedate location continent  new_cases
17057      MLT 2020-03-07    Malta    Europe       1.00
17058      MLT 2020-03-08    Malta    Europe       2.00
17059      MLT 2020-03-09    Malta    Europe       0.00
17060      MLT 2020-03-10    Malta    Europe       2.00
17061      MLT 2020-03-11    Malta    Europe       1.00

### 5. êµ­ê°€ë³„ í–‰ ìˆ˜ ë³´ê¸°

In [154]:
countryTots.size()

location
Afghanistan       185
Albania           126
Algeria           190
Andorra           121
Angola            113
                 ...
Vietnam           191
Western Sahara     78
Yemen              94
Zambia            116
Zimbabwe          114
Length: 209, dtype: int64

### 6. êµ­ê°€ë³„ ìš”ì•½í†µê²Œ ë³´ê¸°

6-1. ê¸°ë³¸ ìš”ì•½í†µê³„

In [155]:
countryTots.new_cases.describe().head()

             count   mean    std  min  25%   50%    75%      max
location
Afghanistan 185.00 186.22 257.31 0.00 0.00 37.00 302.00 1,063.00
Albania     126.00  26.75  24.65 0.00 9.00 17.00  35.50    93.00
Algeria     190.00  98.48 123.98 0.00 0.00 88.00 149.75   904.00
Andorra     121.00   7.07  12.72 0.00 0.00  1.00   9.00    79.00
Angola      113.00   4.27   8.51 0.00 0.00  1.00   5.00    62.00

6-2. í•©ê³„

In [156]:
countryTots.new_cases.sum().head()

location
Afghanistan   34,451.00
Albania        3,371.00
Algeria       18,712.00
Andorra          855.00
Angola           483.00
Name: new_cases, dtype: float64