# 7.6 groupbyÎ°ú Î∂ÑÏÑù Îã®ÏúÑ Î∞îÍæ∏Í∏∞
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Î∂ÑÏÑù Îã®ÏúÑÎ•º Î∞îÍæ∏Í∏∞ ÏúÑÌï¥ Îç∞Ïù¥ÌÑ∞Î•º ÏßëÍ≥ÑÌï¥Ïïº ÌïòÎäî Í≤ΩÏö∞Í∞Ä ÏÉùÍ∏¥Îã§.  
> e.g.1 Í∞ÄÍµ¨Îãπ ÏõîÎ≥Ñ ÏßÄÏ∂ú > Í∞ÄÍµ¨Îãπ Ïó∞Í∞Ñ ÏßÄÏ∂ú  
> e.g.2 Í≥ºÎ™©Î≥Ñ ÏÑ±Ï†Å > ÌïôÏ†ê(GPA)  

* Ïù¥ Îïå Î®ºÏ†Ä (1) ÌïÑÏöîÏóê Îî∞Îùº Ï§ëÎ≥µÎêòÏßÄ ÏïäÏùÄ ÌñâÎì§Îßå ÏÑ†ÌÉùÌïòÍ≥†, (2) groupbyÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Í∑∏Î£πÎ≥ÑÎ°ú ÌñâÎì§ ÏÇ¨Ïù¥Ïùò Í≥ÑÏÇ∞ÏùÑ Ìï¥ Î≥∏ Îí§, Î∂ÑÏÑù Îã®ÏúÑÎ•º Ï°∞Ï†ïÌïúÎã§.

### 1. ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏, Îç∞Ïù¥ÌÑ∞ Î°úÎìú

In [2]:
import pandas as pd
import numpy as np

# covid19 data
coviddaily = pd.read_csv('data/coviddaily720.csv', parse_dates=['casedate'])
# land temperature data
ltbrazil = pd.read_csv('data/ltbrazil.csv')

### 2. [ÏΩîÎ°úÎÇò19 Îç∞Ïù¥ÌÑ∞] Íµ≠Í∞ÄÎ≥Ñ ÏùºÏùº Îç∞Ïù¥ÌÑ∞ > Ï†ÑÏ≤¥ Íµ≠Í∞ÄÏùò ÏùºÏùº Îç∞Ïù¥ÌÑ∞

* Ï§ëÍ∞Ñ Îã®Í≥Ñüîç

In [12]:
# ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞ = Íµ≠Í∞ÄÎ≥Ñ ÏùºÏùº Îç∞Ïù¥ÌÑ∞
coviddaily.head(5)

,iso_code,casedate,location,continent,new_cases,new_deaths,population,pop_density,median_age,gdp_per_capita,hosp_beds,region
0,AFG,2019-12-31,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
1,AFG,2020-01-01,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
2,AFG,2020-01-02,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
3,AFG,2020-01-03,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
4,AFG,2020-01-04,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia

In [7]:
# ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞Ïùò ÎÇ†Ïßú Î≤îÏúÑ = 2019.12.31 ~ 2020.07.12
coviddaily.casedate.describe()

<ipython-input-7-b471a318d1c1>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  coviddaily.casedate.describe()

count                   29213
unique                    195
top       2020-05-23 00:00:00
freq                      209
first     2019-12-31 00:00:00
last      2020-07-12 00:00:00
Name: casedate, dtype: object

In [13]:
# casedate Ïó¥Ïóê ÎåÄÌïòÏó¨ between Ìï®ÏàòÎ°ú Î≤îÏúÑ ÏßÄÏ†ï (* ÎÇ†ÏßúÏùò ÌëúÏãú ÌòïÏãù(format)Ïóê ÏÉÅÍ¥ÄÏóÜÏù¥ ÎÇ¥Ïö©ÏùòÎØ∏Îßå ÎßûÍ≤å ÏûÖÎ†•ÌïòÎ©¥ ÎêòÎäî ÎìØ Ìï®)
coviddaily.loc[coviddaily.casedate.between('2020/02/01', '2020-07-12')].groupby(['casedate'], as_index=False)[['new_cases', 'new_deaths']].sum()

      casedate  new_cases  new_deaths
0   2020-02-01     2120.0        46.0
1   2020-02-02     2608.0        46.0
2   2020-02-03     2818.0        57.0
3   2020-02-04     3243.0        65.0
4   2020-02-05     3897.0        66.0
..         ...        ...         ...
158 2020-07-08   207024.0      6091.0
159 2020-07-09   215473.0      5375.0
160 2020-07-10   228608.0      5441.0
161 2020-07-11   229759.0      5276.0
162 2020-07-12   222967.0      4926.0

[163 rows x 3 columns]

* **Î≥∏ ÏΩîÎìú**üê±‚Äçüíª

In [14]:
coviddailytotals = coviddaily.loc[coviddaily.casedate.between('2020/02/01', '2020-07-12')].\
                   groupby(['casedate'], as_index=False)[['new_cases', 'new_deaths']].sum()

In [15]:
coviddailytotals.head(10)

    casedate  new_cases  new_deaths
0 2020-02-01     2120.0        46.0
1 2020-02-02     2608.0        46.0
2 2020-02-03     2818.0        57.0
3 2020-02-04     3243.0        65.0
4 2020-02-05     3897.0        66.0
5 2020-02-06     3741.0        72.0
6 2020-02-07     3177.0        73.0
7 2020-02-08     3439.0        86.0
8 2020-02-09     2619.0        89.0
9 2020-02-10     2982.0        97.0

### 3. [ÏßÄÌëúÏò®ÎèÑ Îç∞Ïù¥ÌÑ∞] Í∏∞ÏÉÅ Í¥ÄÏ∏°ÏÜåÎ≥Ñ ÏõîÎ≥Ñ Ï∏°Ï†ïÏò®ÎèÑ > ÌèâÍ∑† Ïò®ÎèÑ Îç∞Ïù¥ÌÑ∞

* Ï§ëÍ∞Ñ Í≥ºÏ†ï

In [20]:
ltbrazil.loc[ltbrazil.station=="ALTAMIRA"]

,locationid,year,month,temperature,latitude,longitude,elevation,station,countryid,country,latabs
648,BR000352000,2019,8,28.55,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
740,BR000352000,2019,9,28.85,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
832,BR000352000,2019,10,28.65,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
924,BR000352000,2019,11,28.00,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
1016,BR000352000,2019,12,27.50,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2

* **Î≥∏ ÏΩîÎìú**üê±‚Äçüíª

In [21]:
# Ïò®ÎèóÍ∞í ÎàÑÎùΩ ÌñâÏùÑ Ï†úÍ±∞
ltbrazil = ltbrazil.dropna(subset=['temperature'])

# ÏõîÎ≥Ñ Îç∞Ïù¥ÌÑ∞ > Ïó∞Í∞Ñ ÌèâÍ∑† Îç∞Ïù¥ÌÑ∞
ltbrazilavgs = ltbrazil.groupby(['station'], as_index=False).agg({'latabs':'first', 'elevation':'first', 'temperature':'mean'})

# Îç∞Ïù¥ÌÑ∞ ÌëúÏãú
ltbrazilavgs.head(10)

               station  latabs  elevation  temperature
0             ALTAMIRA   3.200      112.0    28.310000
1   ALTA_FLORESTA_AERO   9.867      289.0    29.374167
2                ARAXA  19.567     1004.0    21.612500
3              BACABAL   4.210       25.1    29.750000
4                 BAGE  31.333      242.0    19.295833
5             BARBALHA   7.317      409.0    27.200000
6             BARCELOS   0.981       34.1    28.270833
7       BARRA_DO_CORDA   5.500      153.0    28.766667
8            BARREIRAS  12.150      439.0    26.795833
9  BARTOLOMEU_LISANDRO  21.698       17.4    25.843333